@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mona Sans", serif;
    background-color: #F9F6ED;
}

header nav {
    position: fixed;
    width: 95%;
    top: 2%;
    left: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #afb6b479;
    backdrop-filter: blur(10px);
    z-index: 10;
    border-radius: 50px;
    border: 1.5px solid #000000;
}

.logo img {
    margin-top: 5px;
    width: 170px; 
    height: auto;
}

header .nav-links {
    list-style: none;
    display: flex;
}

header .nav-links li {
    font-weight: 400;
    margin-left: 50px;
}

header .nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 11pt;
}

header .nav-links li a:hover {
    color: #000000;
    text-decoration: underline;
}

.contact-section {
    padding: 150px 30px;
    text-align: center;
    color: #000000;
}

.contact-content h2 {
    font-family: "Great Vibes", cursive;
    font-size: 50pt;
    color: #000000;
}

.contact-content p {
    font-family: "Mona Sans", serif;
    font-size: 12pt;
    margin-bottom: 40px;
}

.contact-form {
    max-width: 400px;
    padding: 30px;
    background-color: #AFCFE8;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.123);
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-family: "Great Vibes", cursive;
    font-size: 16pt;
    color: #000000;
    display: block;
    margin-bottom: 12px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: #ffffff;
    color: #000000;
    font-size: 1em;
    font-family: "Mona Sans", serif;
}

.form-group input {
    border-radius: 30px;
    transition: all 0.3s ease;
}

.form-group textarea {
    border-radius: 20px;
    height: 120px;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    background-color: #e0f1ff;
    border-color: #000000;
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.contact-form button {
    padding: 10px 50px;
    font-family: "Mona Sans", serif;
    background-color: #000000;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 30px;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form button:hover {
    background: #171715
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #272727;
    color: white;
}

footer p {
    font-size: 12pt;
}

/* Animações de rolagem */
.scroll-item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-item.visible {
    opacity: 1;
    transform: translateY(0);
}
